<!DOCTYPE html>
<html lang="it">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Visualizza- All</title>

    <script>
        function conferma(id){
            if(confirm("Sei sicuro di voler cancellare?")==true){
                window.location.href='/cancellaSicuro?id='+id;
            }
        }
    </script>
</head>
<!--Lista sarebbe il vettore dipendenti. Nel .js abbiamo detto che {lista:dipendenti, etichette:etichette, css:css}-->>
<body>
    <div class="header_div">
        <br>
        <p style="text-align:center;"><button style="text-align:center;" class="btn btn-dark" onclick="window.location.href='/formDipendenti'">Aggiungi</button></p>
        <br>
    </div>
    <div class="container">
        <table class="table table-dark table-striped">
            <tr>

                <% if(lista.length==0){ %>
                    <p class}="p1">Nessun dipendente presente nella repository, aggiungine uno con il bottone in alto a destra</p>
                <% } else if (mos == 0) { %>

                <th>ID</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Sesso</th>
                <th>Codice fiscale</th>
                <th>Citta</th>
                <th>CAP</th>
                <th>Mostra</th>
                <th>Modifica</th>
                <th>Cancella</th>


            <% for(var i = 0; i < lista.length;i++){ %>
                <tr>
                    <% var dipendente = lista[i]; %> 
                    <th> <%= dipendente.id; %> </th>
                    <th> <%= dipendente.nome; %> </th>
                    <th> <%= dipendente.cognome; %> </th>
                    <th> <%= dipendente.sesso; %> </th>
                    <th> <%= dipendente.codice_fiscale; %> </th>
                    <th> <%= dipendente.citta; %> </th>
                    <th> <%= dipendente.cap; %> </th>
                    <td><button class="btn btn-light" onclick="window.location.href='/mostra?id=<%=dipendente.id%>'">Mostra</button> </td>
                    <td><button class="btn btn-light" onclick="window.location.href='/modifica?id=<%=dipendente.id%>'">Modifica</button> </td>
                    <td><button class="btn btn-light" onclick="conferma(<%=dipendente.id%>)">Cancella</button> </td>
            <% } %>

                        <!--
                            
                    <td><button class="btn btn-light" onclick="eliminaDipendente(<% dipendente[0] %>)">Cancella(inprogress)</button> </td>
                    <td><button class="btn btn-light" onclick="window.location.href='/cancella?id=<%=dipendente[0]%>'">Cancella</button> </td>
                    <td><button class="btn btn-light" onclick = "windows.location.href='/delete?id=<%=dipendente[0]%>'">⠀⠀•⠀⠀</button></td>-->
                </tr>
            
            

            <% }else if (mos == 1) { %>
                <div class="container">
                    <table class="table table-dark table-striped" align: right>
                        <tr>
                            <th>ID</th>
                            <th>Matricola</th>
                            <th>Cognome</th>
                            <th>Nome</th>
                            <th>Sesso</th>
                            <th>Data di nascita</th>
                            <th>Luogo di nascita</th>
                            <th>Codice fiscale</th>
                            <th>Citta</th>
                            <th>Provincia</th>
                            <th>CAP</th>
                            <th>IBAN</th>
                            <th>Data di assunzione</th>
                            <th>Indirizzo</th>
                        </tr>
                            <tr>
                                <% var dipendente = lista[0]; %>
                                <th> <%= dipendente.id; %> </th>
                                <th> <%= dipendente.matricola; %> </th>
                                <th> <%= dipendente.nome; %> </th>
                                <th> <%= dipendente.cognome; %> </th>
                                <th> <%= dipendente.sesso; %> </th>
                                <th> <%= dipendente.data_di_nascita.toString().substring(3,15)%></th>
                                <th> <%= dipendente.luogo_di_nascita; %> </th>
                                <th> <%= dipendente.codice_fiscale; %> </th>
                                <th> <%= dipendente.citta; %> </th>
                                <th> <%= dipendente.provincia; %> </th>
                                <th> <%= dipendente.cap; %> </th>
                                <th> <%= dipendente.iban; %> </th>
                                <th> <%= dipendente.data_assunzione.toString().substring(3,15)%> </th>
                                <th> <%= dipendente.indirizzo; %> </th>
                            </tr>
                            <tr>

                                <form method="post" action="/confermamodifica?id=<%=dipendente.id%>">
                                <td><input type="text" name="id" value="<%=dipendente.id%>" disabled></td>
                                <td><input type="text" name="matricola" value="<%=dipendente.matricola%>"></td>
                                <td><input type="text" name="nome" value="<%=dipendente.nome%>"></td>
                                <td><input type="text" name="cognome" value="<%=dipendente.cognome%>"></td>
                                <td>Maschio
                                    <% if(dipendente.sesso == "M") { %>
                                        <input type="radio" name="sesso" value="M" checked>
                                    <% }else{ %>
                                        <input type="radio" name="sesso" value="M">
                                    <% } %>
                                    Femmina
                                    <% if(dipendente.sesso == "F") { %>
                                        <input type="radio" name="sesso" value="F" checked>
                                    <% }else{ %>
                                        <input type="radio" name="sesso" value="F">
                                    <% } %>
                                </td>
                                <td><input type="date" name="data_di_nascita" value="<%=dipendente.data_di_nascita%>"></td>
                                <td><input type="text" name="luogo_di_nascita" value="<%=dipendente.luogo_di_nascita%>"></td>
                                <td><input type="text" name="codice_fiscale" value="<%=dipendente.codice_fiscale%>"></td>
                                <td><input type="text" name="citta" value="<%=dipendente.citta%>"></td>
                                <td><input type="text" name="provincia" value="<%=dipendente.provincia%>"></td>
                                <td><input type="text" name="cap" value="<%=dipendente.cap%>"></td>
                                <td><input type="text" name="iban" value="<%=dipendente.iban%>"></td>
                                <td><input type="date" name="data_assunzione" value="<%=dipendente.data_assunzione%>"></td>
                                <td><input type="text" name="indirizzo" value="<%=dipendente.indirizzo%>"></td>
                                <td><button class="btn btn-light" type="submit">Conferma Modifiche</button></td>
                                </form>
                            </tr>
                    </table>
                    </div>


                <% }else if (mos == 2) { %>
                    <%  console.log("AAA"+lista[0]);%>
                    <th> <%= lista[0].id; %> </th>
                    <th> <%= lista[0].nome; %> </th>
                    <th> <%= lista[0].cognome; %> </th>
                    <th> <%= lista[0].sesso; %> </th>
                    <th> <%= lista[0].codice_fiscale; %> </th>
                    <th> <%= lista[0].citta; %> </th>
                    <th> <%= lista[0].cap; %> </th>
                    <td><button class="btn btn-light" onclick="window.location.href='/'">Indietro</button> </td>
                    <td><button class="btn btn-light" onclick="window.location.href='/modifica?id=<%=lista[0].id%>'">Modifica</button> </td>
                    <td><button class="btn btn-light" onclick="conferma(<%= lista[0].id %>)">Cancella</button> </td>
                    <!--
                    <% for(var j = 0; j < etichette.length;j++){ %> 
                        <th><%= etichette[j]; %> </th>
                    <% } %>
                    <th>Indietro</th>
                    <th>Modifica</th>
                    <th>Cancella</th>
                </tr>
                    <tr>
                        <% let dipendente = lista; %>
                            <th> <%= dipendente.id; %> </th>
                            <th> <%= dipendente.nome; %> </th>
                            <th> <%= dipendente.cognome; %> </th>
                            <th> <%= dipendente.sesso; %> </th>
                            <th> <%= dipendente.luogoDiNascita; %> </th>
                            <th> <%= dipendente.dataDiNascita; %> </th>
                            <th> <%= dipendente.codiceFiscale; %> </th>
                            <th> <%= dipendente.ruoloAziendale; %> </th>
                            <th> <%= dipendente.stipendio; %> </th>
                            <th> <%= dipendente.titoloDiStudio; %> </th>
                        <td><button class="btn btn-light" onclick="window.location.href='/'">Indietro</button> </td>
                        <td><button class="btn btn-light" onclick="window.location.href='/modifica?id=<%=dipendente.idDip%>'">Modifica</button> </td>
                        <td><button class="btn btn-light" onclick="conferma(<%= dipendente.id %>)">Cancella</button> </td>
    -->
                            <!--
                        <td><button class="btn btn-light" onclick="eliminaDipendente(<% dipendente[0] %>)">Cancella(inprogress)</button> </td>
                        <td><button class="btn btn-light" onclick="window.location.href='/cancella?id=<%=dipendente[0]%>'">Cancella</button> </td>
                        <td><button class="btn btn-light" onclick = "windows.location.href='/delete?id=<%=dipendente[0]%>'">⠀⠀•⠀⠀</button></td>-->
                    </tr>
                <%  } %> 

        </table>
    </div>
</body>

</html>